.Main{
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
  height: 100%;
}
.Main .LogoProduct{
  margin-top: 40px;
}
.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
}
.DescriptionProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DescriptionProduct p{
  margin: 0 0 24px 0;
  text-align: center;
}

.DescriptionProduct p:last-child{
  color: var(--color-secondary);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.3rem;
}
.DescriptionProduct > p:first-child{
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  
}
.DescriptionVideo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DescriptionVideo p {
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 16px;
}
.DescriptionVideo div{
  width: 622px;
  height: 350px;
  background: #05142C;
}
.DescriptionPayButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DescriptionPayButton a{
  width: 573px;
  height: 86px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  margin: 30px 0 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
  font-weight: 500;
}
.DescriptionPayButton p:first-of-type{
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  font-weight: 400;
  font-size: 1.8rem;
}
.DescriptionPayButton p:last-of-type{
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  font-weight: 300;
  font-size: 1.18rem;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 80px;
}
.DescriptionPayButton p span{
  font-weight: 700;
}
.DescriptionPayButton p span:first-of-type{
  text-decoration: line-through;
}


.AboutMe{
  width: 100%;
  height: 682px;
  max-height: 682px;
  background-color: var(--color-background-light);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.AboutMeContent{
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
.AboutMeContent h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-primary);
  margin: 50px 0 0 20px;
}

.AboutMeDescription{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}
.AboutMeText{
  max-width: 456px;
}
.AboutMeText p {
  font-family: 'Roboto', sans-serif;
  max-width: 456px;
  width: 100%;
  font-size: 1.375rem;
  font-weight: 400;
  color: var(--color-primary);
  margin-left: 20px;
}
.Image{
  margin-right: 20px;
}


.SatisfiedStudents{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SatisfiedStudents p:first-of-type{
  color: var(--color-secondary);
  font-family: "Bebas Neue", sans-serif;
  font-size: calc(80rem/16);
  margin-top: 80px;
}
.SatisfiedStudents p:last-of-type{
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-size: calc(30rem/16);
  /* margin-top: 80px; */
}
.SatisfiedImages{
  max-width: 1000px;
  width: 100%;
}
.Sat1{
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Sat1 div + div{
  margin: 0 0 0 15px;
}
.Sat2{
  margin: 18px 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Sat2 div + div{
  margin: 0 0 0 15px;
}
